.git
.gitignore
.DS_Store
**/.DS_Store

node_modules
client/node_modules
client/dist
dist

data
musicbrainz-dump
cache

client/public/artwork
client/public/avatars
client/public/data

npm-debug.log*
*.log
